<!DOCTYPE html>
<div style="background-color: #f5f5f5;" data-bb-type="screen" data-bb-effect="slide-left" data-bb-scroll-effect="off">

    <!-- app menu -->
    <div data-bb-type="menu">
        <div onclick="" data-bb-type="menu-item" data-bb-img="images/icons/help.png" data-bb-pin="left">Help</div>
        <div onclick="" data-bb-type="menu-item" data-bb-img="images/icons/settings.png" data-bb-pin="right">Settings</div>
    </div>

    <div id="content">
        <!-- Conteudo -->
    </div>

    <!-- action bar -->
    <div data-bb-type="action-bar">

        <!-- tabs -->
        <div onclick="" data-bb-type="action" data-bb-overflow="true" data-bb-style="tab" data-bb-img="images/icons/bbm.png" data-bb-selected="true">Tab 1</div>

        <div onclick="" data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/icons/share.png">Tab 2</div>

        <div onclick="" data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/icons/toast.png">Tab 3</div>

        <!-- actions -->
        <div onclick="" data-bb-type="action" data-bb-style="button" data-bb-img="images/icons/bbm.png">Action 1</div>

        <div onclick="" data-bb-type="action" data-bb-style="button" data-bb-img="images/icons/bbm.png">BTN 2</div>

        <!-- action overflow -->
        <div onclick="" data-bb-type="action" data-bb-style="button" data-bb-overflow="true" data-bb-img="images/icons/bbm.png">Over flow</div>

        <div onclick="" data-bb-type="action" data-bb-style="button" data-bb-overflow="true" data-bb-img="images/icons/bbm.png">Over flow</div>
    </div>

</div>